@model Harbor.Models.MovimentacoesModel

@{
    ViewData["Title"] = "Adição de movimentação";
}

<br />
<h1 class="text-center">Adicionar uma movimentação</h1>
<hr />
<br />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdContainer" class="control-label"></label>
                <select asp-for="IdContainer" class ="form-control" asp-items="@ViewBag.idContainer">
                    <option disabled selected>---Selecione um ID---</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" readonly />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NumeroContainer" class="control-label"></label>
                <input asp-for="NumeroContainer" class="form-control" readonly />
                <span asp-validation-for="NumeroContainer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TipoMovimentacao" class="control-label"></label>
                <select asp-for="TipoMovimentacao" class="form-control" asp-items="@ViewBag.TipoMovimentacoes">
                    <option disabled selected>---Selecione uma opção---</option>
                </select>
                <span asp-validation-for="TipoMovimentacao" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DataTermino" class="control-label"></label>
                <input asp-for="DataTermino" class="form-control" />
                <span asp-validation-for="DataTermino" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <br />
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
            <br />
            <div class="text-center">
                <a type="button" class="btn btn-secondary" asp-action="Index">Voltar para a página inicial</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#IdContainer').change(function () {
                var containerId = $(this).val();
                var containerInfo = @Html.Raw(Json.Serialize(ViewBag.ContainerInfo));

                var selectedContainer = containerInfo.find(c => c.idContainer == containerId);
                if(selectedContainer) {
                    $("#NumeroContainer").val(selectedContainer.numeroContainer);
                    $("#NomeCliente").val(selectedContainer.nomeCliente);
                }
            });
        });
    </script>

}
