@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/image1.jpg" alt="Apresentação Harbor">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Sistema de Gestão Portuária</h5>
                    <p>Conheça o Harbor: nosso sistema de controle de containers e movimentações no porto marítimo. Agilidade, eficiência e segurança em um único lugar.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/image2.jpg" alt="Porto de Santos">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Eficiência na gestão</h5>
                    <p>Explore um novo nível de eficiência no porto marítimo com o sistema Harbor.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/image3.jpg" alt="Porto de Santos">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Simples e fácil</h5>
                    <p>Controle sem complicações: o sistema Harbor simplifica e aprimora a gestão de containers e movimentações no porto marítimo, tornando tudo mais fácil e eficiente.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>

<br />
<div class="container">
    <h2 class="display-6 text-center">Sobre nós e nosso sistema</h2>
    <br />
    <div class="row">
        <div class="col-md-4">
            <p>
                A St. Harbor é uma empresa líder no ramo de serviços portuários, comprometida em proporcionar soluções eficientes e inovadoras para a gestão de containers e movimentações portuárias. Nossa história é marcada pela busca constante pela excelência e pelo desejo de superar os desafios do setor.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                O Sistema Harbor foi desenvolvido com a visão de ser uma solução completa e intuitiva para nossos clientes. Através dele, nossos funcionários têm acesso a uma plataforma moderna e amigável, projetada para facilitar o cadastro de informações detalhadas sobre cada container.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Além disso, o sistema vai além do cadastro. Ele também permite o registro de todas as movimentações dos containers em nosso porto. Desde a sua chegada até a sua partida, todas as etapas são cuidadosamente documentadas, proporcionando um controle rigoroso e confiável de todas as operações.
            </p>
        </div>
    </div>
</div>
